@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: poppins;
    font-weight: 100;
    src: url('../../public/fonts/poppins/Poppins-Thin.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 200;
    src: url('../../public/fonts/poppins/Poppins-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 300;
    src: url('../../public/fonts/poppins/Poppins-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 400;
    src: url('../../public/fonts/poppins/Poppins-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 500;
    src: url('../../public/fonts/poppins/Poppins-Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 600;
    src: url('../../public/fonts/poppins/Poppins-SemiBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 700;
    src: url('../../public/fonts/poppins/Poppins-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 800;
    src: url('../../public/fonts/poppins/Poppins-ExtraBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 900;
    src: url('../../public/fonts/poppins/Poppins-Black.ttf');
    font-style: normal;
}

@font-face {
    font-family: poppins;
    font-weight: 100;
    src: url('../../public/fonts/poppins/Poppins-ThinItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: poppins;
    font-weight: 200;
    src: url('../../public/fonts/poppins/Poppins-ExtraLightItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: poppins;
    font-weight: 300;
    src: url('../../public/fonts/poppins/Poppins-LightItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: poppins;
    font-weight: 500;
    src: url('../../public/fonts/poppins/Poppins-MediumItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: poppins;
    font-weight: 600;
    src: url('../../public/fonts/poppins/Poppins-SemiBoldItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: poppins;
    font-weight: 700;
    src: url('../../public/fonts/poppins/Poppins-BoldItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: poppins;
    font-weight: 800;
    src: url('../../public/fonts/poppins/Poppins-ExtraBoldItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: poppins;
    font-weight: 900;
    src: url('../../public/fonts/poppins/Poppins-BlackItalic.ttf');
    font-style: italic;
}

* {
    font-family: poppins, 'sans-serif';
    scroll-behavior: smooth;
}
